@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik&display=swap');
/* mobile */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik',sans-serif;
}
:root{
    --clr: #652C8D;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #CE95F5;
}
header{
    background-color: #652C8D;
    display: flex;
    justify-content: center;
    width: 100%;
}

.cu{
    height: 59px;
    margin-top: 1rem;
    margin-left: -3rem;
}
.text{
    position: relative;
    font-weight: 700;
    font-size: 17px;
    color: white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    margin-right: 2rem;
}
.links{
    position: relative; 
    margin-top: -50px;
    padding-bottom: 30px;
    margin-left: 12rem;

}
.icons{
    position: relative;
    font-size: 20px;
    margin-left: 10em;
    text-decoration: none;
    word-spacing: 10px;
    color: #fff;
}
.topicon{
  margin-left:40rem;
  margin-top: -2rem;
  margin-bottom: -3rem;
}
.navigation{
    position: relative;
    width: 100%;
    height: 33rem;
    background-color: #652C8D;
    display: inline-block;
    padding-top: 4em;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

html,body {
	margin: 0;
	padding: 0;
}
.slider {
	width: 60%;
	margin: 0em auto;
	
}
.wrapper h1{
  color: white;
  text-align: center;
  font-family: 'Poppins',sans-serif;
  margin-top: 1rem;

}
.wrapper h2{
  color: white;
  text-align: center;
  font-family: 'Poppins',sans-serif;
  font-size: 2rem;
  margin-bottom: 4rem;
}
.slider-wrapper {
	width: 100%;
	height: 30rem;
  margin-top: -4rem;
	position: relative;
}
.slider-wrapper img{
  border-radius: 20%;
}
.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 1s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

.toptext{
  display: grid;
  grid-template-columns: auto ;
  align-items: center;
  margin-left: 20rem;
  margin-right: 20rem ;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.toptext h2{
  color: white;
  font-size: 1rem;

}

.toptext h3{
  color: white;
  font-size: 0.5rem;
  font-weight: 600;
}
.topimage{
  display: inline;
  align-items: center;
  margin:1rem;

}
.circle{
  position: relative;
  width: 100%;
  height: 80rem;
  background-color: #652C8D;
  display: inline-block;
  padding-top: 4em;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-right-radius:10%;
  border-top-left-radius:10%;
}

.wtf {
  display: inline-block;
  margin-left: 7rem;
}
.booking-card {
  position: relative;
  display: inline-block;
  width: 270px;
  flex: 0 0 100px;
  flex-direction: column;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 30px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-color: #452166;
  text-align: center;
  transition: .3s;
 
}
.booking-card::before {
  content: '';
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .5s;
}
.book-container {
  height: 30px;
}
.book-container img{
  width: 250px;
  
}
.content {
  position: absolute;
  opacity: 0;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.content img{
  width: 50%;
  background-size: cover;
}
.informations-container {
  height: 260px;
  flex: 1 0 auto;
  padding: 0px;
  background: #452166;
  transform: translateY(175px);
  transition: .3s;
}
.bakes{
  margin-bottom: 45px;
  margin-top: 40px;
}
.bakes img{
  height: 50px;
  width: 180px;
}
.bakes h1{
  margin-top: -47px;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  line-height: 1rem;
}
.disclaimer {
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  padding-bottom: -20px;
  margin-bottom: 20px;    
}
.more-information{
  padding: 20px;
}
.btn{
  border-radius: 20px;
  border-color: white;
  height: 40px;
  width: 150px;
  background: #fff;
  font-weight: bolder;
  font-size: 13px;
  color: #452166;
  cursor: pointer;
  transition: .5s;
}
.btn:hover {
  border-color: white;
}

.booking-card:hover::before {
  background:#452166;
}
.booking-card:hover .book-container .content {
  opacity: 1;
  transform: translateY(0px);
}
.booking-card:hover .informations-container {
  transform: translateY(0px);
}
.booking-card:hover .informations-container .more-information {
  opacity: 1;
}


.wrapper {
	width: 100%;
  height: 80rem;
	overflow: hidden;
}
.photobanner {
	position: relative;
	height: 233px;
    margin-top: 5rem;
	margin-bottom: 10rem;
	display: flex;
	width: 100%;
}

.photobanner img {
  margin: 0px 25px;
}

.photobanner {
  animation: bannermove 50s linear infinite alternate-reverse;
}

@keyframes bannermove {
  from {
    left: 0px;
  }
  to {
    left: -2700px;
  }
}
.photobanner2 {
	position: relative;
	height: 233px;
	margin-bottom: 30px;
	display: flex;
	width: 100%;
}

.photobanner2 img {
  margin: 0px 25px;
}

.photobanner2 {
  animation: bannermove2 25s linear infinite alternate-reverse;
}

@keyframes bannermove2 {
  from {
    right: 0px;
  }
  to {
    right: 2700px;
  }
}
.deedtext{
  display: grid;
  row-gap: 2vh;
  
  grid-template-columns: auto auto ;
  align-items: center;
  width: 50%;
}

.lowertext h1{
  display: grid;
  color: white;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 4rem;
}
.lowerpromo{
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  text-align: center;
}
.lowerbutton{
  border-style: none;
  display: grid;
  grid-template-columns: auto;
  border-radius: 25px;
  height: 3rem;
  width: 7rem;
  background-color:#652C8D;
  color: white;
  align-items: center;
  text-align: center; 
  margin-left: 40rem;
  margin-top: 3rem;
  font-size: 1rem;
  box-shadow:  1px 0px 3px 3px whitesmoke;
}
.wrapper2 { display: flex; }
.wrapper2 .button2{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px #652C8D;
    transition: all 0.3s ease-out;
    
  }
  .wrapper2 .button2:hover{
    width: 9.5rem;
  }
  .wrapper2 .button2 .icon{
    display: flex;
    height: 40px;
    width: 40px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
  }
  .wrapper2 .button2:nth-child(1):hover .icon{
    background: #4267B2;
  }
  .wrapper2 .button2:nth-child(2):hover .icon{
    background: #E1306C;
  }
  .wrapper2 .button2:nth-child(3):hover .icon{
    background: #ff0000;
  }
  .wrapper2 .button2 .icon i{
    font-size: 1.5rem;
    transition: all 0.3s ease-out;
  }
  .wrapper2 .button2:hover .icon i{
    color: #fff;
  }
  .wrapper2 .button2 span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 300px;
    line-height: 50px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .wrapper2 .button2:nth-child(1) span{
    color: #4267B2;
  }
  .wrapper2 .button2:nth-child(2) span{
    color: #E1306C;
  }
  .wrapper2 .button2:nth-child(3) span{
    color: #ff0000;
  }

button2{
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  color: #909;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  letter-spacing: .25px;
  overflow: visible;
  padding: 2px 24px;
  margin-left: 190px;
  margin-top: 50px;
}
.wrapper2{
  margin-bottom: 5rem;
  margin-left: 5rem;
  margin-top: 12  rem;
}
.bottomicon{
  margin: 1rem;
}
.tovch{
  position: absolute;
  background: rgb(5, 68, 104);
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}
footer{
  position: absolute;
  width: 100%;
  height: 38rem;
  margin-top: 2rem;
  background-color: #652C8D;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
}
footer img{
  margin-left: 45%;

}

footer .deliver{
  word-spacing: normal;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 2rem;
  color: white;
}
footer ul li{
  display: inline-block;
  text-align: center;
  align-items: center;

  margin-left: 45px;
}
footer ul li a{
  color: white;
  list-style: none;
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin-left: 7rem;
}

footer .copy{
  color: white;
  float: right;
  margin-right: 100px;
  margin-top: 100px;
}

.zur1{
  margin-left: -10rem;
  margin-bottom: 10rem;
}
.wrapper .sidebar{
  background: rgb(5, 68, 104);
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
  z-index: 1000;
}
.wrapper .sidebar .profile{
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h3{
  color: #ffffff;
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
  color: rgb(206, 240, 253);
  font-size: 14px;
}
.wrapper .sidebar ul li a{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li a .icon{
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  color: #0c7db1;

  background:white;
  border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
  color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
}
.wrapper .section{
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
  background: rgb(7, 105, 185);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 30px;

}

.wrapper .section .top_navbar .hamburger a{
  font-size: 28px;
  color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover{
  color: #a2ecff;
}

@media(max-width:500px){
  .lowerpromo{
    grid-template-columns: auto ;
    width: 100%;
  }
  .links{
    display: none;
  }
  .wrapper{
    display: none;
  }
  .lowerbutton{
    justify-content: center;
    align-items: center;
    margin-left: 50%;
  }
}