@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
:root{
  --clr: #652C8D;
}
body{
  position: relative;
  background-color: #EDE8F0;
}
header{
  background-color: var(--clr);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30rem;
  background-color: var(--clr);
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
}
html{
  scroll-behavior: smooth;
}
a{
  color: #fff;
}
.cu{
  height: 4rem;
  margin-top: 1rem;
}
.text{
  position: relative;
  font-weight: 700;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
}
.links{
  display: flex;
  margin-top: -3rem;
  padding-bottom: 2rem;
  margin-left: 20rem;
}
.icons{
  position: relative;
  font-size: 1.5rem;
  margin-left: 8em;
  text-decoration: none;
  word-spacing: 1rem;
}
.promotion{
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
.promotion img{
  margin-top: 2rem;
  height: 6em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.promotion h1{
  position: relative;
  color: white;
  text-align: center;
  margin-top: -4.3rem;
  font-size: 1.7rem;
}
.promotion h5{
  position: relative;
  color: white;
  text-align: center;
  margin-top: 4rem;
  font-size: 1.1rem;
  word-wrap: break-word;
}

/*main css*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.5rem;
  padding: 0.5rem;
  margin-top: -20rem;
}
.sticky{
  position: -webkit-sticky;
  position: sticky; 
  top: 1rem;
  z-index: 9999;
  margin-top: 5rem; 
}
.sticky ul li a{
  width: 18.75rem;
  grid-row-start: 1;
  grid-row-end: 20; 
  color: #452166;
  font-size: 	1.2rem;
  font-weight: 900;
  padding-left: 4.375rem;
  width:15.625rem;
  text-decoration: none;
  line-height: 4rem;
}
#grid-right{
  width: 80rem;
  margin-left: 20rem;
  display: grid;
  grid-gap: 0px;
  padding: 1rem;
  color: var(--clr);
  font-size: 1.25rem;
  font-weight: bolder;
  top: 1rem;
}
#grid-right h1{
  color: var(--clr);
  font-size: 2.5rem;
  font-weight: bolder;
}
.title-icon{
  position:relative;
  display: flex;
  margin-top: -2.8rem;
  margin-left: 15.125rem;
}
#box-1{
  position: relative;
  display: inline-block;
  margin-top: 3rem;
  width: 	6.25rem;
  margin-bottom: 5rem;
}
#box-1 img{
  border-radius: 1.5625rem;
  height: 20rem;
  width: 23rem;
  transform: scale(1);
  transition: all 0.5s;
}
#box-1:hover img{
  transform: scale(1.1);
}
#box-1 p{
  position: relative;
  background-color: #fff;
  border-radius: 1.5625rem;
  width: 17rem;
  height: 3rem;
  text-align: center;
  color: var(--clr);
  font-size: 	0.9375rem;
  font-weight: 700;
  padding: 0.25rem;
  margin-top: -1.25rem;
  margin-left: 3.125rem;
}
#buteegdehuun{
  display: grid;
  grid-template-columns: auto auto auto;
}

/* footer css*/footer{
  position: absolute;
  width: 100%;
  height: 42rem;
  margin-top: 2rem;
  margin-bottom: 0;
  background-color: #652C8D;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
}
.deliver{
  word-spacing: normal;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 2rem;
  color: white;
}
.deliver img{
  width: 8rem;
  margin-top: 4rem;
}
.deliver h5{
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: 400;
}
.holboos{
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  color: white;
}
.holboos a{
  display: inline-block;
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
}
.copy{
  color: white;
  float: right;
  margin-right: 10rem;
  margin-top: 18rem;
}
.zur1 img{
  position: inherit;
  display: block;
  width: 25%;
  height: 20%;
  margin-left: 39rem;
  margin-top: 4.5rem;
}
.button2{
  position: absolute;
  margin-left: 70rem;
  margin-top: 14rem;
}